/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

.home {
  margin-top: 5%;
  margin-left: 43%;
}

.footer {
  margin-top: 3%;
  padding: 1rem;
  background: rgb(79, 93, 139);

  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
}
