.viewassignment {
  margin-top: 5%;
  margin-bottom: 5%;
}

.toprow-viewassignment {
  margin-bottom: 2%;
}
.rows-viewassignment {
  margin-bottom: 2%;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.btn-viewassignment {
  margin-top: 10%;
  margin-left: -4px;
}
